/* Define color variables */
:root {
    --vDGBlue: hsl(217, 19%, 35%);
    --dDBlue: hsl(214, 17%, 51%);
    --gBlue: hsl(212, 23%, 69%);
    --lGBlue: hsl(210, 46%, 95%);
  }
  
  /* Reset box model and typography settings for all elements */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: var(--gBlue);
  }
  
  /* Style for body to center the card */
  body {
    background-color: var(--lGBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Style for the card container */
  .card {
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
  }
  
  /* Style for card content */
  .card-content {
    margin: 2.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  /* Ensure card image container hides overflow */
  .card-image {
      overflow: hidden;
  }
  
  /* Style for the image inside the card image container */
  .card-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  
  /* Style for the main heading in the card */
  .card-content h1 {
    font-size: 1.8em;
    font-weight: 700;
    color: var(--vDGBlue);
    margin: 1rem 0;
  }
  
  /* Style for the paragraph in the card */
  .card-content p {
    margin: 1rem 0;
    line-height: 1.5rem;
  }
  
  /* Style for the footer container */
  footer {
    display: flex;
  }
  
  /* Style for the profile container */
  .profile {
    display: flex;
    gap: 1rem;
    width: 100%;
  }
  
  /* Style for profile info paragraphs */
  .profile-info p {
    line-height: 0.5rem;
  }
  
  /* Style for profile image */
  .profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  /* Style for profile name */
  .profile-name {
    font-weight: bold;
    color: var(--dDBlue);
    margin: 0;
  }
  
  /* Style for share icon SVG */
  .share-icon svg {
    width: 1.1rem;
    cursor: pointer;
  }
  
  /* Style for share icon container */
  .share-icon {
      background-color: var(--lGBlue);
      border-radius: 50%;  
      padding: .5rem;
      align-self: center;
      justify-self: center;
  }
  
  /* Style for share icon on hover */
  .share-icon:hover {
      background-color: var(--vDGBlue);
  }
  
  /* Style for share icon SVG path on hover */
  .share-icon:hover svg path {
      fill: white;
  }
  
  /* Style for share popup */
  .share-popup {
    display: none;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    position: absolute;
    bottom: 5rem;
    right: -7.5rem;
    background-color: var(--vDGBlue);
    color: white;
    border-radius: 8px;
    padding: 0 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for the triangle on the share popup */
  .share-popup::before {
      content: '';
      position: absolute;
      bottom: -40%;
      right: 44%;
      border-width: 10px;
      border-style: solid;
      border-color: var(--vDGBlue) transparent transparent transparent;
  }
  
  /* Style for the paragraph in the share popup */
  .share-popup p {
    margin-right: 1rem;
    font-size: 12px;
    letter-spacing: .5rem;
  }
  
  /* Style for the links in the share popup */
  .share-popup a {
    margin-right: 10px;
  }
  
  /* Style for the images in the share popup */
  .share-popup img {
    width: 16px;
    height: 16px;
  }
  
  /* Media queries for screens with a max width of 1000px */
  @media (max-width: 1000px) {
      /* Make card layout vertical */
      .card {
          flex-direction: column;
          width: 90%;
      }
  
      /* Set a fixed height and margin for the card image */
      .card-image {
          height: 200px;
          margin-bottom: 2rem;
      }
  
      /* Reset card content margins */
      .card-content {
          margin: 0;
      }
  
      /* Adjust heading size and margin in the card content */
      .card-content h1 {
          font-size: 1.3em;
          margin-bottom: 0;
          margin: .5rem 2.5rem;
      }
  
      /* Adjust paragraph margin in the card content */
      .card-content p {
          margin: .5rem 2.5rem;
      }
  
      /* Adjust footer margin */
      footer {
          margin: 1rem 2.5rem;
      }
  
      /* Adjust profile info paragraph margins and line height */
      .profile-info p {
          margin-left: 0;
          line-height: 1rem;
      }
  
      /* Adjust share popup positioning and width */
      .share-popup {
          bottom: 0;
          left: 0;
          margin: 0;
          padding: 1rem;
          width: 100%;
      }
  
      /* Hide the triangle on the share popup */
      .share-popup::before {
          display: none;
      }
  }
  